*
!.gitignore
!LICENSE
!README.adoc
!AGENTS.md
!dlangui/dub.sdl
!dlangui/source/
!dlangui/source/**
!dui/dub.sdl
!dui/source/
!dui/source/**
!qt/
!qt/**
!gtk/
!gtk/**
!avalonia/
!avalonia/**
!web/
!web/**
